# Python temporary files
*.pyc

# Instrument control tool-related files
.logs/
.re_md_dict.yml

# IDE
.vscode/
.loglogin

# Build files
**/*egg-info/

# Development files
workspace/
notes/
skill_factory/
AGENTS.md
CLAUDE.md

# Images
**/*.png
**/*.tiff
